*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
  margin: 0;
  min-height: 100vh;
  background-color: rgb(233, 233, 233);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 360px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

header {
  background-color: #0078d7;
  padding: 15px;
  border-radius: 6px;
  text-align: center;
}

header h1 {
  color: white;
  margin: 0;
}

form {
  display: flex;
}

form input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}

form button {
  padding: 10px 15px;
  border: none;
  background-color: #0078d7;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list li {
  padding: 12px;
  border-radius: 5px;
  background-color: #dff1f7;
  text-align: center;
}

.list li:nth-child(2) {
  background-color: #aed38c;
  text-decoration: line-through;
}
